$font:'abchanel-pb-s','open-sans',sans-serif;
$font-corpo: 'abchanel-corpo','open-sans', sans-serif;
$light_grey: #ececec;
$dark:#1d1d1d;
$white: #fff;

//ELEMENTS & MIXINS DEFINITIONS
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin button_base(){
	font-size: .6875rem;
	line-height: 1.2727272727;	
	display: inline-flex;	
	height: 3.125rem;	
	align-content: center;	
	align-items: center;	
	vertical-align: middle;	
	-webkit-user-select: none;	
	-moz-user-select: none;	
	-ms-user-select: none;	
	user-select: none;	
	cursor: pointer;	
	padding: 0 1.5625rem;	
	text-align: center;	
	justify-content: center;	
	border-width: 0;	
	border-radius: 0;
	font-family: $font;
	font-weight: 600;
	color: $dark;
	margin-top: 1.125rem;
	letter-spacing: normal;
}
@mixin button($bg) {
	  @include button_base();
	  background: $bg;
	  
	  span{
		  padding-bottom: .25rem;
		  transition: all 0.5s ease-out;
		  border-bottom: 1px solid transparent;
	  }
	  &:hover {
	    span{
			  border-bottom: 1px solid $dark;
		}
	  }
 
}

.button-primary{
	&.white{
		@include button($white);
	}	
}
.heading-7{
	display: block;
	margin: 0;
	font-size: .75rem;
	line-height: 1.5;
	font-family: $font;
}
.heading-1{
	letter-spacing: normal;
	display: block;	
	font-weight: 600;
	font-family: $font;
	font-size: 1.25rem;
	line-height: 1.35;
	@media screen and (min-width:45rem) {
		font-size: 1.875rem;
		line-height: 1.2;
	}
	@media screen and (min-width:72.5rem) {
		font-size: 2.5rem;
		line-height: 1.125;
	}
	
	
}
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
* ,::after, ::before {

    box-sizing: border-box;

}
img {

max-width: none;
width: 100%;
height: auto;
display: block;

}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	list-style: none;
	padding: 0;
}
body{
	position: relative;	
	p{
			font-family: $font;
			line-height: 1.2857142857;
			font-family: Helvetica,Open-Sans,"sans-serif-light",sans-serif;			
			font-size: .875rem;			
			font-weight: 300;			
			letter-spacing: .00625rem;			
			color: #333;
	}

}
@media screen and (min-width:20rem) {
	
}
@media screen and (min-width:45rem) {
 .container {
  padding-left:5.2777777778%;
  padding-right:5.2777777778%;
  max-width:81.375rem;
  margin:0 auto;
  overflow:hidden
 }
}
@media screen and (min-width:72.5rem) {
 .container {
  padding-left:1.875rem;
  padding-right:1.875rem;
  max-width:81.375rem;
  margin:0 auto;
  overflow:hidden
 }
}
header{
	@media screen and (min-width:72.5rem) {
		height: 8.75rem;
	}	
	height: 3.75rem;
	position: relative;
	.nav{
		@media screen and (min-width:72.5rem) {
		min-height: 4.8125rem;
		}
	}
	.header_outer{
		height: 100%;						
		background-color: $white;		
		width: 100%;		
		border-bottom: 1px solid $light_grey;		
		z-index: 80;	
		&.clicked{
		
			.second_level{
					background: #6a0a0a !important;
					ul{
						li{
							a{
								span{
									color: $white !important;
								}
							}
						}
					}
			}
		}	
		@media screen and (min-width:72.5rem) {
			height: auto;
			position: fixed;
		}
		.header_inner{
			position: relative;
			.top_level{
				width: 100vw;
				position: fixed;				
				z-index: 90;				
				border-top: .5rem solid #000;
				
				background: #fff;
				@media screen and (min-width:72.5rem) {
					
					transform: matrix(1, 0, 0, 1, 0, 0);
					position: relative;
				}
				.nav-container{
					padding-left: 1.875rem;
					padding-right: 1.875rem;					
					max-width: 81.375rem;					
					margin: 0 auto;					
					overflow: hidden;
					.nav-left, .nav-right{
					min-width: 9.375rem;
					}
					.nav-left{
						align-items: center;
						display: flex;					
						flex-basis: 0;					
						flex-grow: 1;					
						flex-shrink: 0;					
						justify-content: flex-start;					
						white-space: nowrap;					
						button{
							margin-left: -.5rem;
							padding-top: .25rem;
							position: absolute;
							top: 11px;
							width: 20px;
							z-index: 20;
						}
						@media screen and (min-width:72.5rem) {
							button{
								display: none;
							}
						}
					}
					.nav-center{
						
						display: flex;
						flex-shrink: 1;					
						align-items: center;					
						justify-content: center;					
						margin-left: auto;					
						margin-right: auto;
						text-align: center;					
						width: 100%;
						.nav-item{
							
							display: flex;
							align-items: center;						
							flex-grow: 0;						
							flex-shrink: 0;
							justify-content: center;
							
							width: 100%;
							
							min-width: 2.25rem;						
							position: relative;
							padding: .855rem .5rem;
							@media screen and (min-width:72.5rem) {
								padding: 1.65rem .625rem .5rem .625rem;
							}
							
							h1{
								margin: 0;
								.logo_header{
									height: 1.1625rem;
									
									@media screen and (min-width:72.5rem) {
										height: 1.85rem;
									}
								}
							}
							
						}
					}
				}
				
			}
			.second_level{
				display: none;
				z-index: 100;
			    position: fixed;
			    width: 100%;
			    transform: translateX(-100%);
				top:0;
				left: 0;
				height: 100%;
				overflow-x: hidden;
			    overflow-y: auto;
			    -webkit-overflow-scrolling: touch;
			    padding-left: 1.25rem;
			    padding-right: 1.25rem;
				background: #fff;
				@include transition(opacity .5s ease-in-out);
				@media screen and (min-width:72.5rem) {
					display: block;
					position: relative;
					z-index: 10;
					width: auto;
					transform: none;
				}
				.hideit{
					    align-items: stretch;
						min-height: 3.1875rem;					
						text-align: right;
						.button{
							padding-right: 0;
						    justify-content: flex-end;
						    padding-top: 1.125rem;
						    width: 20px;
							height: 20px;
						}
						@media screen and (min-width:72.5rem) {
							display: none;
						}
				    }
				#main-navigation{
					
					position: absolute;
				    display: flex;
				    flex-direction: column;
				    justify-content: flex-start;
				    width: 100%;
				    
				    @media screen and (min-width:72.5rem) {
					    display: flex;
					    position: relative;
						justify-content: center;
				    }
					ul{
						display: block;
						@media screen and (min-width:72.5rem) {
						    margin-left: -1.25rem;
							margin-right: -1.25rem;
							display: flex;
							justify-content: center;
						}
						
						
						li{
							font-family: $font;
							//display: inline-flex;
							padding: 0 1.5rem 0 1.25rem;
							@media screen and (min-width:72.5rem) {
								padding: 0;
							}
							a{
								height: 2.25rem;
							    text-align: left;
							    justify-content: space-between;
							    color: #1d1d1d;
							    font-size: .75rem;
							    text-transform: uppercase;
							    font-size: .75rem;
								font-weight: 600;
								display: inline-table;
							    @media screen and (min-width:72.5rem) {
									padding-left: .5625rem;
									padding-right: .5625rem;								
									margin-left: .3125rem;								
									margin-right: .3125rem;								
									padding-bottom: .5625rem;								
									height: 3.375rem;
									
									line-height: 1.2727272727;
								}

								
								
								span{				
									display: table-cell;
									vertical-align: middle;					
									text-align: left;
									color: $dark;									
									font-size: .75rem;									
									text-transform: uppercase;
								}
							}
						}
					}
				}
			}
		}
	}
}
main{
	display: block;
	position: relative;	
	z-index: 1; 
	ul{
		li{
			max-height: 2000px;
			@include transition(max-height .8s ease-in-out, opacity .5s ease-out);
			
			overflow: hidden;			
			position: relative;			
			opacity: 1;			
			
			background-color: #000;			
			.sliding-hero__picture{
				transform: none;
				-webkit-backface-visibility: hidden;				
				backface-visibility: hidden;				
				will-change: transform,opacity;
				img{
					display: block;
					width: 100%;
				}
			}
			.sliding-hero__text{
				bottom: 0;
				display: flex;
				flex-direction: column;
				height: calc(100% + 1px);
				justify-content: flex-end;
				left: 0;
				padding-bottom: 3.375rem;
				position: absolute;
				z-index: 2;
				width: 100%;
				text-align: center;
				padding-bottom: 4.5rem;
				@include transition(opacity .3s ease-out);
				.sliding-hero__col{		
						flex-basis: auto;				
						@media screen and (min-width:72.5rem) {
							padding-left: .9375rem;
							padding-right: .9375rem;	
							width: 50%;	
							margin-left: 25%;
						}
						.context{
							.heading-1,.heading-7{
								color: #fff;
								text-shadow: 0 0 6px rgba(0,0,0,.6);
							}
							
						}
				}
			}
			&.remove{
				max-height: 0px;
				.sliding-hero__text{
					opacity: 0;
				}
			}
			
		}
	}
}